<nav class="navbar navbar-expand-lg bg-body-primary">
<form class="d-flex" role="search">
  <input class="form-control me-2"
  type="search"
  placeholder="Search"
  aria-label="Search">

<button class="btn btn-outline-primary"
  type="submit">Search
</button>
</form>
</nav>

<table class="table">
<thead>
  <tr>
  <th>Nome</th>
  <th>Tipo</th>
  <th></th>
  </tr>
</thead>

<tbody>
  <td>Vinil</td>
  <td>Tecido</td>
<td>
<div class="dropdown">
<button class="btn btn-outline-primary btn-lg dropdown-toggle"
  type="button"
  data-bs-toggle="dropdown"
  aria-expanded="false">Opções
</button>
<ul class="dropdown-menu">
  <li><a class="dropdown-item">Editar</a></li>
  <li><a class="dropdown-item">Excluir</a></li>
</ul>
</div>
</td>
</tbody>
</table>

