<div class="grid text-center">
  <div class="g-col-2">
    <div class="container-fluid" id="container-img">
      <div classe="card" >
        <img
          src="./assets/atelie.png"
          class="rounded float-start" id="criative"
          alt=""
        />
      </div>
      <div class="grid text-center">
        <div class="row">
          <div class="container-fluid" id="container-text">
            <div class="card" style="width: 25rem;" id="card-text">
              <img src="./assets/logosf.png" class="card-img-top" id="logo"alt="" />
              <p>Seus preços sem crise.</p>
              <div classe="card-body">
                <form [formGroup]="loginForm">
                  <div class="input-border-radius-sm">
                    <input
                      type="text"
                      formControlName="username"
                      class="form-control is-invalid"
                      id="validationServerUsername"
                      aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
                      formControlName="username"
                      placeholder="Usuário"
                      required
                    />
                    <div id="validationServer03Feedback" class="invalid-feedback">
                      Por favor, insira um nome de usuário.
                    </div>
                  </div>
                  <div class="input-border-radius-sm">
                    <input
                      type="password"
                      formControlName="password"
                      class="form-control is-invalid"
                      id="validationServerUsername"
                      aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback"
                      formControlName="password"
                      placeholder="Senha"
                      required
                    />
                    <div id="validationServerPasswordFeedback" class="invalid-feedback">
                      Por favor, insira uma senha válida.
                    </div>
                  </div>
                  <button type="submit" class="btn btn-outline-info">Login</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<blockquote class="blockquote">
  <p>&copy; Aline Fernanda Developer -2024.</p>
</blockquote>











<!--<div class="row g-0">
  <div class="col-md-4">
    <img
      src="./assets/criative-think.png"
      class="img-fluid rounded-start"
      alt=""
    />
  </div>

  <div class="col-md-8 d-flex justify-content-end">
    <div class="card">
      <form class="card-body d-flex flex-column justify-content-center align-items-center">
       
        
        <div class="input-border-radius-lg">
          <input
            type="text"
            class="form-control is-invalid"
            id="validationServerUsername"
            aria-describedby= "inputGroupPrepend3 validationServerUsernameFeedback"
            formControlName="username"
            placeholder="Usuário"
            required
          />
          <div id="validationServer03Feedback" class="invalid-feedback">
            Por favor, insira um nome de usuário.
          </div>
        </div>

        <div class="input-border-radius-lg">
          <input
            type="password"
            class="form-control is-invalid"
            id="validationServerPassword"
            aria-describedby="validationServerPasswordFeedback"
            formControlName="password"
            placeholder="Senha"
            required
          />
          <div id="validationServerPasswordFeedback" class="invalid-feedback">
            Por favor, insira uma senha válida.
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
-->

<!-- <div clas="container-fluid"></div>
<form [formGroup]="loginForm"></form>
<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            formControlName="username"
            placeholder="Usuário"
          />
          <input
            type="password"
            class="form-control"
            formControlName="password"
            placeholder="Senha"
          />
        </div>
        <button btn class="btn btn-primary">Login</button>
      </div>
    </form>
    </div>
  </div>


 

  <div class="card" style="width: 18rem;"">
    <img src="./assets/criative-think.png" class="rounded float-start" alt="" />
  </div>
-->
