<div class="container-fluid">
  <div class="row g-0">
    <div class="col-md-6 custom-col1">
      <div clas="card">
        <div class="card-body">
          <figure class="figure">
            <img
              src="./assets/atelie.png"
              alt=""
              class="figure-img img-fluid rounded"
              style="width: 90vh;"
            />
          </figure>
        </div>
      </div>
    </div>
    <div class="col-md-6 custom-col2">
        <div class="card-text">
          <figure class="figure-img img-fluid">
            <img src="./assets/logosf.png" alt="" class="figure-img img-fluid rounded" style="width: 20vh;"/>
          </figure>
          <form [formGroup]="loginForm" class="needs-validation" >
            <div class="input-group has validation-border-radius-sm">
              <input type="text" class="form-control" id="validationCustomUsername" formControlName="username" aria-describedby="inputGroupPrepend" placeholder="Usuário" required>
            </div>
            <div class="invalid-feedback">
              Por favor, digite um usuário válido.
            </div>
            <div class="input-group has validation-border-radius-sm">
              <input type="password" class="form-control" id="validationCustomUsername" formControlName="password" aria-describedby="inputGroupPrepend"  placeholder="Senha" required>
            </div>
            <div class="invalid-feedback">
              Por favor, digite uma senha válida.
            </div>
            <div *ngIf="errorMensage" class="invalid-feedback" >
             {{ errorMensage }} 
            </div>
            <div class="btn">
              <button class="btn btn-primary" (click)="onSubmit()" (ngSubmit)="onSubmit()"  type="submit">Enviar</button>
            </div>
            <div class="link-opacity-75-hover"><a href="#">Esqueceu sua senha?</a></div>
            <div class="link-opacity-75-hover"><a href="#">Cadastre-se</a></div>
          </form>
        </div>
    </div>
    <div class="col-md-0">Aline Fernanda Developer &copy; 2024</div>
  </div>
</div>  