:host {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: #d3f8e2;
}

.custom-col1 {
  display: flex;
  justify-content: center;
  height: 95vh;
}

.custom-col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
.form-control {
  display: flex;
  margin-bottom: 10px;
  width: 50vh;
}
.card-text {
  width: 450px;
  padding: 5%;
  height: auto;
  border-radius: 5%;
  align-items: center;
  justify-content: center;
}
.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  display: flex;
  justify-content: center;
  width: 100%;
}
.figure-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-md-0 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-opacity-75-hover {
  display: flex;
  justify-content: center;
}
.is-invalid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}